.contribute-section {
    margin-top: 216px;
}


.contribute-section-main {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 35px;
}


.contribute-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
}


.small-rectangle {
    background-color: #F0BE90;
    width: 6px;
    height: 48px;
}



/* Mobile Devices */


@media only screen and (max-width: 320px) {
    .contribute-section {
        margin-top: 110px;
    }

    .contribute-section-main {
        margin-top: 20px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 35px;
    }

    .small-rectangle {
        display: none;
    }

    .contribute-image img {
        width: 60%;
    }

    .contribute-text {
        width: 90%;
    }

}



@media only screen and (min-width:320px) and (max-width: 400px) {

    .contribute-section {
        margin-top: 120px;
    }


    .contribute-section-main {
        margin-top: 30px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 35px;
    }


    .small-rectangle {
        display: none;
    }

    .contribute-image img {
        width: 60%;
    }

    .contribute-text {
        width: 90%;
    }


}



@media only screen and (min-width:400px) and (max-width: 688px) {
    .contribute-section {
        margin-top: 150px;
    }


    .contribute-section-main {
        margin-top: 40px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 35px;
    }

    .small-rectangle {
        display: none;
    }

    .contribute-image img {
        width: 60%;
    }

    .contribute-text {
        width: 90%;
    }



}



/* Tablet Devices */


@media only screen and (min-width:688px) and (max-width: 992px) {

    .contribute-section {
        margin-top: 150px;
    }


    .contribute-section-main {
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 35px;
    }

    .contribute-image img {
        width: 70%;
    }


    .contribute-text {
        width: 95%;
    }


}



@media only screen and (min-width:992px) and (max-width: 1400px) {
    .contribute-section {
        margin-top: 170px;
    }

    .contribute-section-main {
        margin-top: 80px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 35px;
    }

    .contribute-image img {
        width: 100%;
    }

}