body {
    color: #23191D;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

Link {
    background-color: #ffffff;
}

.main-section {
    margin-top: 2rem;
}


.main-button {
    color: #80422B;
    border: 2px solid #80422B;
}

.main-button:hover {
    color: #80422B;
    border: 2px solid #80422B;
}


.all-books {
    margin-top: 32px;
    color: #ffffff;
    background-color: #80422B;
}

.all-books:hover {
    color: #ffffff;
    background-color: #6b240b;
}


.main-text {
    margin-top: 60px;
    font-size: 35px;
    text-align: center;
    line-height: 54px;
    font-weight: 600;
}

.text-merge {
    position: absolute;
    transform: translate(-160px, 42px);
    width: 22%;
    z-index: -1;
}

.image-section {
    margin-top: 112px;
}


.image-section img {
    width: 55%;
}


.book-section {
    margin-top: 135px;
    display: grid;
    grid-template-columns: 20px 2fr 2fr 2fr;
    gap: 35px;
}


.rectangle {
    background-color: #F0BE90;
    width: 12px;
    height: 96px;
}

.rect-gap {
    margin-bottom: 84px;
}


.download-text {
    width: 412px;
    height: 96px;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
}


.text-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #5B342B;
}


.btn-box {
    display: flex;
    flex-direction: column;
    width: 304px;
    margin-top: 15px;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #5B342B;
}


.each-button {
    width: 298px;
    height: 60px;
    color: #5B342B;
    border: 2px solid #F0BE90;
    background-color: #ffffff;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
}

.each-button:hover {
    width: 298px;
    background-color: #F0BE90;
    color: #ffffff;
}

.last-button {
    width: 298px;
    height: 60px;
    color: #5B342B;
    border: 2px solid #F0BE90;
    background-color: #ffffff;
    border-left: 0px;
    border-right: 0px;
}

.last-button:hover {
    width: 298px;
    background-color: #F0BE90;
    color: #ffffff;
}


.reverse-doodle {
    transform: translate(-215px, 285px);
}


/* animations */

@keyframes sliding {
    0% {
        top: 0;
    }

    100% {
        top: 50px;
    }
}


.up-down {
    position: relative;
    animation: sliding 0.4s ease-in-out 0.5s alternate infinite;
}