.book_img {
    width: 200px;
    height: 300px;
    border: 4px solid #F0BE90;
    border-radius: 16px;
    margin-bottom: 24px;
}

.book {
    margin-top: 64px;
}

.update {
    width: 180px;
    height: 54px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    border-radius: 8px;
    background-color: #157347;
}

.update:hover {
    color: #157347;
    background-color: #fff;
    border: 1px solid #157347;
}